{% unless page.no_header %}
{% if index %}
<div class="imagetext-left">
  <span class="title"><a href="{{ root_url }}{{ post.url }}" style="color: #999999;">{{ post.title }}</a></span>
    <span class="text"><a href="{{ root_url }}{{ post.url }}">{{ content | excerpt }}</a></br>
     <b>{{ post.tags }}</b></span>
    {% if  post.application %}<a href="{{ post.application }}"><span class="link">&nbsp;Apply here,&nbsp;</span></a>{% endif %}
    <a href="{{ root_url }}{{ post.url }}"><span class="link">Read more ...&nbsp;</span></a>
</div>


{% else %}
<div id="content-single">
    <div class="post-113 page type-page status-publish hentry" id="post-113">
        <div id="title-content">
            <div id="title">{% if site.title %}{{ page.title | title }}{% else %}{{ page.title }}{% endif %}</div>
        </div>
        <div class="content">
            <div id="article-single">
           {{ content }}
            </div>
        </div><!-- .entry-content -->
    </div><!-- #post-## -->
</div>

{% endif %}
{% endunless %}





